<!-- Validation failure messages -->
<% if @stock.errors.any? %>
  <% @stock.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Failure message if provided an  invalid stock identifier or no price-->
<% if @errormsg %>
  <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= @errormsg %>
  </div>
<% end %>


<div class="page-header">
  <h3>Add New Stock</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_stock" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for ticker -->
      <div class="form-group">
        <label for="stock_id" class="control-label">
          Stock Ticker
        </label>
        <input type="text" id="stock_id" name="stock_id" placeholder="E.g. MSFT" class="form-control" value="<%= @stock.ticker %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Tracked Price
        </label>
        <input type="text" id="price" name="price" placeholder="E.g. 75.00" class="form-control" value="<%= @stock.price %>">
      </div>

      <!-- Label and input for portfolio_id -->
      
      <div class="form-group">
          <label for="portfolio_id" class="control-label">
              Portfolio
          </label>
        <%= select_tag("portfolio_id", options_from_collection_for_select(User.find(current_user.id).portfolios.all, :id, :portname), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Stock
      </button>
      or
      <a href="/stocks">Cancel</a>
    </form>
  </div>
</div>
