<div class="page-header">
  <h3><%= @stock.ticker %> Details</h3>
</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Tracked Price</th>
      <th>Last Close Price</th>
      <th>60-Day SMA</th>
      <th>60-Day EWMA</th>
      <th>Portfolio</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="active">
      <td><%= @stock.ticker %></td>
      <td><%= @stock.price %></td>
      <td><%= @lastclose %></td>
      <td><%= @lastSMA %></td>
      <td><%= @lastEWMA %></td>
      <td><a href="/portfolios/<%= @stock.portfolio_id %>"> <%= Portfolio.find(@stock.portfolio_id).portname %></a></td>
      <td>
        <div class="btn-group closed">
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/stocks/<%= @stock.id %>/edit">Edit</a></li>
            <li><a href="/delete_stock/<%= @stock.id %>">Delete from Portfolio</a></li>
           </ul>
        </div>
       </td>  
    </tr>
  </tbody>
</table>  

<a href="/stocks"  class="btn btn-primary">Back to My Stocks</a>
<a href="/portfolios/<%= @stock.portfolio_id %>" class="btn btn-primary">Back to <%= Portfolio.find(@stock.portfolio_id).portname %></a>


