<div class="page-header">
  <h3>Tracking #<%= @tracking.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Stock</dt>
      <dd><%= @tracking.stock_id %></dd>

      <dt>User</dt>
      <dd><%= @tracking.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/trackings" class="btn btn-primary">
        Back
      </a>
      <a href="/trackings/<%= @tracking.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tracking/<%= @tracking.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
